.trustedby{
    background-color: #fafafa;
    height: 6.5vh;
    display: flex;
    justify-content: center;

    .container{
        width: 55vw;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 2vw;
        color: lightgray;
        font-weight: 500;

        img{
            height: 8vh;
            object-fit: contain;
        }
    }
}